.inter{
    font-family: 'Inter', sans-serif;
  }
  .dm{
    font-family: 'DM Sans', sans-serif;
  }
  .nun{  
  font-family: 'Nunito', sans-serif;}
  .comme{
    font-family: 'Comme', sans-serif;
  }
  .kanit{
    font-family: 'Kanit', sans-serif;
}

  .line-width{
    width: 623px;
  }
  .width-line{
    width: 623px;
  }
  