.inter{
    font-family: 'Inter', sans-serif;
  }
  .dm{
    font-family: 'DM Sans', sans-serif;
  }
  .nun{  
  font-family: 'Nunito', sans-serif;}
  .comme{
    font-family: 'Comme', sans-serif;
  }
  .kanit{
    font-family: 'Kanit', sans-serif;
}
  .line-width{
    width: 623px;
  }
  .width-line{
    width: 623px;
  }
.source{
    font-family: 'Source Sans Pro', sans-serif;
  }
  .montserrat{
    font-family: 'Montserrat';
  }
  .syne{
    font-family: 'Syne';
  }
  .crimson {
    font-family: 'Crimson Pro', serif;
}
.Poppins{
  font-family: 'Poppins', sans-serif;
}
.Abhaya{
  font-family: 'Abhaya Libre', sans-serif;
}
.boder-3{
  border: 3px solid;
}



